@import '../../assets/styles/breakpoint.scss';
@import '../../assets/styles/variables.scss';

.popOver {
  background-color: white;
  max-height: 550px;
  min-width: 250px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid $gray1;
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  @include md {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    max-height: auto;
    height: auto;
  }
  @include lg {
    grid-gap: 35px;
    grid-template-columns: repeat(5, 1fr);
  }
}

.cItem {
  cursor: pointer;
  .title {
    text-transform: capitalize;
    font-weight: 600;
  }
  svg {
    font-size: 20px;
  }
  .block {
    margin-bottom: 8px;
  }
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.sub {
  display: block;
  margin-bottom: 8px;
  text-transform: capitalize;
  color: inherit;
  font-size: 13px;
  &:hover {
    color: $primaryColor;
  }
}
