@import '../../assets/styles/breakpoint.scss';
@import '../../assets/styles/variables.scss';

.control {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  label {
    font-size: 14px;
    font-weight: 600;
    font-size: 13px;
  }
}

.input {
  border: 1px solid $gray3;
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 13px;
  &.md {
    padding: 5px 10px;
    font-size: 15px;
  }
  &.sm {
    padding: 4px 8px;
    font-size: 13px;
  }
  &.lg {
    padding: 7px 14px;
  }
  margin-top: 3px;
  &.inputError {
    border-color: $dangerColor;
  }
  svg {
    font-size: 18px;
  }
}

.error {
  color: $dangerColor;
  font-size: 13px;
}
