@import '../../assets/styles/breakpoint.scss';
@import '../../assets/styles/variables.scss';

.container {
  width: 320px;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  @include md {
    width: 400px;
  }
}
.header {
  border-bottom: 1px solid $gray3;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 10%;
}
.left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  svg {
    margin-right: 10px;
  }
}

.main {
  height: 90%;
  max-height: 90%;
}

.empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  img {
    width: 80%;
    margin-bottom: 10px;
  }
}
.scroll {
  height: 90%;
  max-height: 90%;
  margin-bottom: 10px;
  overflow-y: scroll;
}
.list {
  padding: 20px;
}
.listContainer {
  height: 100%;
}
.actions {
  height: 10%;
  padding: 0 20px;
}
