@import '../../assets/styles/breakpoint.scss';

.list {
  display: grid;
  grid-gap: 50px;
  @include md {
    grid-template-columns: repeat(2, 1fr);
  }
  @include lg {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 55px;
    &.sm {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 55px;
    }
  }
  @include xl {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 65px;
    &.sm {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 65px;
    }
  }
}
