@import '../../assets/styles/variables.scss';

.container {
  border-right: 1px solid lighten($color: $gray3, $amount: 3%);
  padding: 20px 0;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: inherit;
  margin-bottom: 20px;
  padding: 10px;
  svg {
    font-size: 18px;
    margin-right: 5px;
  }
  span {
    text-transform: capitalize;
  }
  position: relative;
  opacity: 0.5;
  &::after {
    position: absolute;
    right: -1px;
    top: 0;
    height: 0;
    width: 3px;
    background-color: $primaryColor;
    content: '';
  }
  &.active {
    opacity: 1;
    background-color: $gray2;
    &::after {
      height: 100%;
    }
  }
  &:hover {
    background-color: $gray2;
    opacity: 1;
  }
}
