@import '../../assets/styles/variables.scss';
@import '../../assets/styles/breakpoint.scss';
.topBar {
  width: 100%;
  padding: 5px 0px;
  background-color: $darkColor;
  color: $gray3;
  font-size: 12px;
  margin: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  @include md {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    &:first-of-type {
      margin-right: 20px;
    }
    svg {
      margin-right: 5px;
    }
  }
}

.help {
  p {
    cursor: pointer;
  }
}
