@import '../../../assets/styles/variables.scss';

.container {
  box-shadow: $authShadow;
  padding: 20px;
  font-size: 13px;
  margin-bottom: 20px;
}
.block {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.blockLeft {
  flex-grow: 0.7;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  span {
    margin-right: 5px;
    min-width: 10px;
  }
}

.order {
  border-bottom: 1px solid $gray3;
  margin-bottom: 10px;
}

.orderHead {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.priceItem {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $gray6;
  &:last-of-type {
    margin-top: 20px;
    border-top: 1px solid $gray3;
    padding-top: 20px;
    font-size: 19px;
    color: black;
    p {
      &:last-of-type {
        font-weight: bold;
      }
    }
  }
}
