@import '../../assets/styles/breakpoint.scss';

.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  img {
    width: 80%;
  }
  @include md {
    img {
      width: 40%;
    }
  }
}
.flex {
  button {
    &:first-of-type {
      margin-right: 20px;
    }
  }
}
