@import '../../assets/styles/breakpoint.scss';
@import '../../assets/styles/variables.scss';
.container {
  composes: container from '../SimpleProduct/style.module.scss';
}

.title {
  composes: title from '../SimpleProduct/style.module.scss';
}
.price {
  composes: price from '../SimpleProduct/style.module.scss';
}

.attributes {
  margin-top: 20px;
  margin-bottom: 20px;
  .attr {
    margin-bottom: 15px;
  }
  .key {
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: 600;
    margin-right: 10px;
  }
  .values {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    p {
      border: 1px solid $gray3;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      color: $gray6;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      span {
        margin-right: 2px;
      }
      svg {
        font-size: 15px;
      }
      &.active {
        border-color: $dangerColor;
        color: $dangerColor;
      }
    }
  }
}
