@import '../../assets/styles/breakpoint.scss';
@import '../../assets/styles/variables.scss';
.container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  @include lg {
    grid-template-columns: repeat(4, 1fr);
  }
}
.item {
  padding: 20px;
  border-radius: 5px;
  box-shadow: $authShadow;
  h3 {
    font-size: 16px;
    margin-bottom: 3px;
    color: $primaryColor;
  }
  p {
    font-size: 14px;
  }
  @include md {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    .iconContainer {
      margin-right: 10px;
      background-color: $gray2;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      width: 60px;
      svg {
        font-size: 30px;
        padding: 0;
        margin: 0;
        color: $primaryColor;
      }
    }
  }
}
