@import '../../assets/styles/variables.scss';
.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;

  button {
    &:last-of-type {
      margin-left: 10px;
    }
  }
}

.block {
  margin-bottom: 10px;
  &:last-of-type {
    margin-bottom: 0;
  }
  .label {
    font-size: 14px;
    font-weight: 600;
    font-size: 13px;
  }
}

.error {
  display: block;
  margin-top: 1px;
  color: $dangerColor;
}
