@import '../../../assets/styles/variables.scss';
.orderItem {
  margin-bottom: 20px;
  border-bottom: 1px solid $gray3;
  padding-bottom: 20px;
  font-size: 14px;

  &:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
  }

  img {
    width: 100px;
    border-radius: 5px;
  }
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  img {
    margin-right: 5px;
  }
  width: 50%;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &:first-of-type {
    margin-bottom: 5px;
  }
}

.attr {
  color: $gray5;
  font-size: 12px;
}

.title {
  margin-bottom: 5px;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.pagi {
  margin-top: 15px;
}

.shippingContainer {
  background-color: $gray2;
  padding: 10px;
  border-radius: 5px;
}

.shipping {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 13px;
  margin-bottom: 5px;
  p {
    &:first-of-type {
      margin-right: 5px;
    }
  }
}
