@import '../../assets/styles/breakpoint.scss';
@import '../../assets/styles/variables.scss';
.swiper {
  height: 80vh;
}

.carouselItem {
  background-color: $gray2;
  width: 100%;
  height: 100%;
}

.container {
  .imgContainer {
    margin-bottom: 30px;
    height: 300px;
    .img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  @include md {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    .imgContainer {
      width: 50%;
      margin-bottom: 0;
      height: auto;
    }
  }

  .textContainer {
    text-align: center;
    width: 100%;
    h1 {
      margin-bottom: 15px;
    }
    @include md {
      width: auto;
      text-align: left;
      width: 50% !important;
    }
  }
}
