@import '../../assets/styles/breakpoint.scss';
@import '../../assets/styles/variables.scss';
.container {
  margin-top: 30px;
  width: 100%;
  background-color: white;
  box-shadow: $authShadow;
  padding: 10px;
  display: grid;
  grid-gap: 10px;
  @include md {
    padding: 20px;
    grid-gap: 15px;
  }
  @include lg {
    grid-template-columns: 2fr 8fr;
    grid-gap: 20px;
  }
}
