@import '../../assets/styles/breakpoint.scss';
@import '../../assets/styles/variables.scss';

.container {
  margin-bottom: 30px;
  display: grid;
  grid-gap: 10px;
  @include lg {
    grid-template-columns: 3fr 7fr;
  }
}

.meta {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .metaRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    // height: 40px;
    font-size: 13px;
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 10px;
}

.content {
  margin-bottom: 10px;
}

.date {
  color: $gray5;
}
.rating {
  margin-bottom: 5px;
}

.iconContainer {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray2;
  border-radius: 100%;
  margin-right: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  color: $gray5;
}
