@import '../../assets/styles/breakpoint.scss';
@import '../../assets/styles/variables.scss';

.container {
  display: grid;
  grid-gap: 20px;
  margin-top: 30px;
  @include lg {
    grid-template-columns: 5fr 5fr;
    grid-gap: 25px;
  }
}

.title {
  margin-bottom: 20px;
}
.price {
  font-size: 25px;
  margin-bottom: 20px;
  color: $dangerColor;
}
.rating {
  margin-bottom: 20px;
}
