@import '../../assets/styles/breakpoint.scss';
@import '../../assets/styles/variables.scss';

.container {
  margin-top: 30px;
}

.blocks {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid $gray3;
  padding-bottom: 5px;
  .block {
    text-transform: capitalize;
    position: relative;
    &::after {
      position: absolute;
      bottom: -8px;
      left: 0;
      height: 2px;
      width: 0%;
      background-color: $primaryColor;
      content: '';
      transition: width 0.2s linear;
    }
    &.active {
      &::after {
        width: 100%;
      }
    }
  }
}

.blockPart {
  margin-top: 30px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
