@import '../../assets/styles/breakpoint.scss';
@import '../../assets/styles/variables.scss';

.auth {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray2;
}

.container {
  width: 90%;
  background-color: white;
  box-shadow: $authShadow;
  border-radius: 5px;
  @include md {
    width: 500px;
  }
  .box {
    width: 80%;
    margin: auto;
    padding: 30px 0;
    text-align: center;
  }
}
