@import '../../assets/styles/variables.scss';
@import '../../assets/styles/breakpoint.scss';
.container {
  margin-top: 40px;
}
.grid {
  display: grid;
  grid-gap: 10px;
  @include lg {
    grid-template-columns: 7fr 3fr;
    grid-gap: 20px;
  }
}
.list {
  padding: 20px;
  box-shadow: $authShadow;
}

.checkout {
  padding: 20px;
  box-shadow: $authShadow;
}

.block {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &:last-of-type {
    margin-top: 20px;
    border-top: 1px solid $gray3;
    padding-top: 20px;
    p {
      font-size: 22px;
      font-weight: bold;
    }
  }
}
