@import '../../assets/styles/variables.scss';
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .button {
    background-color: $primaryColor;
    color: white;
    padding: 13.5px;
    outline: none;
    border: 1px solid $primaryColor;
    border-radius: 0 50px 50px 0;
    min-width: 120px;
    font-size: 14px;
  }
}

.input {
  flex-grow: 1;
  border-radius: 50px 0 0 50px;
  border: 1px solid $gray3;
  padding: 5.5px 15px;
  svg {
    margin-right: 10px;
  }
  &:hover,
  &:focus,
  &:active {
    border-color: $primaryColor;
  }
}
