@import '../../assets/styles/breakpoint.scss';
@import '../../assets/styles/variables.scss';
.container {
  margin-top: 30px;
}
.main {
  grid-gap: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  @include lg {
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-gap: 20px;
  }
}

.left {
  //   padding: 20px;
}

.empty {
  text-align: center;
  img {
    width: 300px;
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 5px;
  }
}
