@import '../../assets/styles/variables.scss';
@import '../../assets/styles/breakpoint.scss';
.header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 0;
  padding: 15px 0;
  opacity: 0;
  transition: opacity 0.1s linear;
  &.up {
    opacity: 1;
    box-shadow: $authShadow;
    z-index: 100;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.headerNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.icon {
  background-color: $gray2;
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  cursor: pointer;
  color: $gray7;
  &:last-of-type {
    margin-left: 10px;
  }
  svg {
    font-size: 27px;
  }
}

.md {
  display: none;
  flex-grow: 0.7;
  @include md {
    display: block;
  }
}

.sm {
  display: block;
  margin-top: 10px;
  @include md {
    display: none;
  }
}

.firstItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.title {
  margin-right: 10px;
}

.popContent {
  min-width: 250px;
  padding: 15px 0;
  font-size: 13px;
  background-color: white;
  .item {
    color: inherit;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    &:hover {
      background-color: $gray2;
    }
    &:last-of-type {
      margin-bottom: 5px;
    }
  }
}

.end {
  margin-top: 5px;
  padding: 0 10px;
}

.onlyMd {
  display: none;
  @include md {
    display: block;
  }
}

.onlySm {
  display: block;
  @include md {
    display: none;
  }
}

.mobileNav {
  width: 90vw;
}

.mobileNavHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.mobileItem {
  margin-bottom: 15px;
}
