@import '../../assets/styles/breakpoint.scss';
@import '../../assets/styles/variables.scss';

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 90px;
  border-bottom: 1px solid $gray3;
  padding-bottom: 20px;
  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
  }
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}

.img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
  //   display: none;
}

.quantityContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  svg {
    font-size: 17px;
  }
  .quantity {
    margin: 0px 5px;
    display: block;
  }
}

.closeIcon {
  font-size: 13px;
  //   margin-bottom: 10px;
}
.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
.title {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.attr {
  color: $gray5;
  font-size: 13px;
}
.per {
  color: $gray5;
  font-size: 13px;
  margin-left: 5px;
}
