@import '../../assets/styles/variables.scss';

.loading {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 10px solid $gray2;
  border-left-color: $primaryColor;
  border-top-color: $primaryColor;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
