@import '../../../assets/styles/variables.scss';

.container {
  composes: container from '../share.module.scss';
}

.block {
  composes: block from '../share.module.scss';
  .file_input {
    display: none;
  }
}

.btnBlock {
  composes: btnBlock from '../share.module.scss';
}

.label {
  composes: label from '../share.module.scss';
}

.empty {
  background-color: $gray2;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
}
