@import '../../assets/styles/variables.scss';

.container {
  background-color: #db3353;
  color: white;
  padding: 15px;
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  transition: all 0.2s linear;
  text-align: center;
  max-height: 100px;
  z-index: 2000;
  transform: translateY(-100px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  p {
    flex-grow: 1;
  }
  &.active {
    transform: translateY(0);
  }
  .icon {
    color: white;
    svg {
      font-size: 20px;
    }
  }
}
