@import '../../assets/styles/variables.scss';
@import '../../assets/styles/breakpoint.scss';

.footer {
  width: 100vw;
  min-height: 350px;
  background-color: $darkColor;
  margin-top: 50px;
  color: $gray3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.container {
  display: grid;
  grid-gap: 30px;
  @include md {
    grid-template-columns: 1fr 1fr;
    justify-content: flex-start;
    justify-self: start;
  }
  @include lg {
    grid-template-columns: repeat(3, 1fr);
  }
  @include xl {
    grid-template-columns: repeat(4, 1fr);
  }
  h3 {
    color: white;
    margin-bottom: 20px;
  }
}

.title {
  color: white;
  display: block;
  margin-bottom: 20px;
  font-size: 25px;
}

.linkItem {
  color: $gray4;
  margin-bottom: 10px;
  display: block;
  font-size: 13px;
  &:hover {
    color: white;
  }
}

.text {
  font-size: 13px;
}

.gridItem {
  justify-self: start;
  align-self: stretch;
  &:last-of-type {
    p {
      margin-bottom: 10px;
    }
  }
}
.icon {
  margin-right: 5px;
  cursor: pointer;
  svg {
    color: white;
  }
}
