@import '../../../assets/styles/variables.scss';

.container {
  composes: container from '../share.module.scss';
}

.block {
  composes: block from '../share.module.scss';
  .file_input {
    display: none;
  }
}

.btnBlock {
  composes: btnBlock from '../share.module.scss';
}

.label {
  composes: label from '../share.module.scss';
}
