.container {
  h2 {
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 10px;
  }
  .flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
