@import '../../assets/styles/breakpoint.scss';
.container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  @include lg {
    width: 70%;
  }
  @include xl {
    width: 60%;
  }
}

.block {
  margin-bottom: 15px;
  @include md {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-gap: 5px;
  }
  label {
    font-size: 13px;
  }
}

.btnBlock {
  text-align: right;
  margin-top: 20px;
}

.label {
  font-size: 13px;
}
