@import '../../assets/styles/breakpoint.scss';
@import '../../assets/styles/variables.scss';

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 90%;
  padding: 20px;
  border-radius: 2px;
  box-shadow: $authShadow;

  @include sm {
    width: 90%;
  }
  @include md {
    width: 70%;
  }

  @include lg {
    &.sm {
      width: 30%;
    }

    &.md {
      width: 40%;
    }
    &.lg {
      width: 50%;
    }
  }
}

.header {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.body {
  margin-bottom: 15px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  button {
    &:last-of-type {
      margin-left: 5px;
    }
  }
}
