@import '../../assets/styles/variables.scss';
@import '../../assets/styles/breakpoint.scss';

.link {
  color: inherit;
}
.item {
  text-align: left;
  color: $gray7;
  &:hover {
    transform: scale(1.01);
  }
  width: 80%;
  margin: auto;
  @include lg {
    width: 100%;
  }
}

.imgContainer {
  margin-bottom: 10px;
  width: 100%;
  height: 200px;
}

.img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.title {
  text-transform: capitalize;
  margin-bottom: 5px;
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
