@import '../../assets/styles/breakpoint.scss';
@import '../../assets/styles/variables.scss';
.showCase {
  margin-top: 50px;
}

.list {
  display: grid;
  grid-gap: 15px;
  @include lg {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

.showCaseItem {
  min-height: 150px;
  padding: 10px 20px;
  background-color: $gray2;
  position: relative;
  &:nth-child(3) {
    grid-row: span 2;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &:nth-child(2),
  &:nth-child(4),
  &:nth-child(5) {
    @include lg {
      flex-direction: column-reverse;
      .textContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
  h1 {
    margin-bottom: 10px;
  }
  img {
    width: 200px;
  }
}

.off {
  position: absolute;
  top: 10px;
  left: 10px;
}
