@import './variables.scss';
@import './breakpoint.scss';
@import './swiper.scss';
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $fontFamily;
  color: $gray8;
  .css-bga5r1-MuiPaper-root-MuiPopover-paper {
    // box-shadow: $authShadow;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $primaryColor;
}

.wrapContainer {
  width: 95%;
  margin: auto;
  @include md {
    width: 90%;
  }
  @include lg {
    width: 85%;
  }
}

.Mui-focused {
  border-color: $primaryColor;
}

.pTop {
  padding-top: 50px;
}
