@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
$fontFamily: 'Montserrat', sans-serif;

$primaryColor: #3391ff;
$dangerColor: #ff4759;
$darkColor: #0f3460;

// NEUTRAL
$gray1: #f9fafb;
$gray2: #f4f6f8;
$gray3: #dfe3e8;
$gray4: #c4cdd5;
$gray5: #919eab;
$gray6: #637381;
$gray7: #454f5b;
$gray8: #212b36;
$gray9: #161c24;

// Shadow
$authShadow: rgba(3, 0, 71, 0.09) 0px 8px 45px;
