@import '../../assets/styles/breakpoint.scss';

.wrap {
  margin-top: 30px;
}
.container {
  display: grid;
  grid-gap: 10px;
  @include lg {
    grid-template-columns: 2fr 8fr;
    grid-gap: 20px;
  }
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
