.mainImg {
  width: 100%;
  height: 500px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  img {
    width: 70px;
    cursor: pointer;
    opacity: 0.5;
    &.active {
      opacity: 1;
    }
  }
}
