@import '../../../assets/styles/variables.scss';

.container {
  width: 100%;
}
.option {
  padding: 20px;
  box-shadow: $authShadow;
}

.form {
  width: 100%;
}

.block {
  border-bottom: 1px solid $gray3;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 15px;
  &:last-of-type {
    border: none;
    padding: 0;
    margin: 0;
  }
}

.method {
  margin-top: 20px;
  padding: 20px;
  box-shadow: $authShadow;
}
